<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parking Place</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>
<body>
    <nav>
        <input type="checkbox" id="check">
        <label for="check" class="checkbtn"><i class="fas fa-bars"></i></label>
        <label class="logo">SHPVIBE</label>
        <ul>
          <li><a href="/home">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/login">Login/Signup</a></li>
          <li><a href="/model" class="active">Model</a></li>
          <li><a href="/contact">contact</a></li>
        </ul>
      </nav>
      
      <div class="new6">
        <h1>WORKING MODEL</h1>
        <p>" This is the working model of the <i style="padding:5px; color: rgb(255, 255, 255); background-color: brown;">AI ENABLED CAR PARKING USING OPEN CV</i> "</p>
      </div>
      <section>
        <img src="static/assets/bg1.jpg" alt="" class="image1">
        <quote>
          <a href="/predict" class="start">CLICK HERE</a>
        </quote>
        
      </section>    
</body>
</html>